<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>albert.get.bank.transactions</string>

    <key>Program</key>
    <string>/Users/albert/Repos/scripts/bash/launchd/albert.get.bank.transactions.sh</string>

    <key>StartInterval</key>
    <integer>10800</integer>

    <key>StandardOutPath</key>
    <string>/Users/albert/Repos/scripts/config/cronerror.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/albert/Repos/scripts/config/cronerror.log</string>

    <key>KeepAlive</key>
    <false/>

    <key>RunAtLoad</key>
    <true/>

  </dict>
</plist>
