<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>

        <key>Label</key>
        <string>albert.gumtree</string>

        <key>Program</key>
        <string>/Users/Natalee/Repos/scripts/bash/gumtree/gumtree.sh</string>

        <key>StartInterval</key>
        <integer>180</integer>

        <key>StandardOutPath</key>
        <string>/tmp/testlog.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/testlog.log</string>

        <key>KeepAlive</key>
        <false/>

        <key>RunAtLoad</key>
        <true/>

    </dict>
</plist>
