<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>

        <key>Label</key>
        <string>albert.order.asthma.inhaler</string>

        <key>Program</key>
        <string>/Users/Albert/Repos/scripts/bash/launchd/albert.order.asthma.inhaler.sh</string>

        <key>StartCalendarInterval</key>
        <dict>
            <key>Minute</key>
            <integer>30</integer>
            <key>Hour</key>
            <integer>8</integer>
            <key>Day</key>
            <integer>5</integer>
        </dict>

        <key>StandardOutPath</key>
        <string>/Users/Albert/Repos/scripts/config/cronerror.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/Albert/Repos/scripts/config/cronerror.log</string>

        <key>KeepAlive</key>
        <false/>

        <key>RunAtLoad</key>
        <false/>

    </dict>
</plist>
